/bin/
/tmp/
/build/

tmp/
*.log

/vendor/

*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

/pkg/mod/

*.o
*.a
*.out

coverage.out

.env

/docs/swagger.yaml

config/local.yaml
